DATABASE_URL=postgresql://usuario:password@localhost:5432/martinos
JWT_SECRET=cambiar_esto
PORT=3001
MP_ACCESS_TOKEN=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3001
SMTP_USER=tomasgroup8@gmail.com
SMTP_PASS=
ADMIN_EMAIL=tomassilvera99@gmail.com
